In [8]:
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.svm import SVR
import pandas as pd
import numpy as np
import math


path = "Kutubdia.csv"
df = pd.read_csv(path)
df

,Station,St_ID,Year,Month,Time (GMT),Speed,Direction,Speed.1,Direction.1,Speed.2,...,Speed.26,Direction.26,Speed.27,Direction.27,Speed.28,Direction.28,Speed.29,Direction.29,Speed.30,Direction.30
0,Kutubdia,41989,2018,1,0,1,31,2,31,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kutubdia,41990,2018,1,3,0,0,0,0,2,...,3,31,2,5,4.0,31.0,2.0,33.0,3.0,13.0
2,Kutubdia,41991,2018,1,6,0,0,2,23,4,...,4,32,4,5,4.0,32.0,4.0,31.0,2.0,14.0
3,Kutubdia,41992,2018,1,9,1,35,4,31,4,...,3,31,3,31,3.0,32.0,3.0,32.0,2.0,13.0
4,Kutubdia,41993,2018,1,12,0,0,0,0,2,...,2,32,2,32,2.0,31.0,2.0,31.0,2.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,Kutubdia,42360,2021,11,9,3,32,3,14,3,...,2,31,3,18,2.0,32.0,2.0,31.0,NaN,NaN
372,Kutubdia,42361,2021,11,12,4,31,2,13,2,...,2,18,2,14,2.0,31.0,1.0,32.0,NaN,NaN
373,Kutubdia,42362,2021,11,15,2,14,0,0,2,...,3,14,2,13,2.0,32.0,2.0,14.0,NaN,NaN
374,Kutubdia,42363,2021,11,18,3,14,0,0,2,...,2,14,2,13,2.0,31.0,4.0,18.0,NaN,NaN
375,Kutubdia,42364,2021,11,21,2,13,0,0,3,...,2,13,3,14,3.0,14.0,2.0,14.0,NaN,NaN

In [9]:
df = df.drop(['Station', 'St_ID'], axis =1)
df.rename(columns = {'Time (GMT)':'Time'}, inplace = True)
df

,Year,Month,Time,Speed,Direction,Speed.1,Direction.1,Speed.2,Direction.2,Speed.3,...,Speed.26,Direction.26,Speed.27,Direction.27,Speed.28,Direction.28,Speed.29,Direction.29,Speed.30,Direction.30
0,2018,1,0,1,31,2,31,0,0,3,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,1,3,0,0,0,0,2,31,1,...,3,31,2,5,4.0,31.0,2.0,33.0,3.0,13.0
2,2018,1,6,0,0,2,23,4,32,3,...,4,32,4,5,4.0,32.0,4.0,31.0,2.0,14.0
3,2018,1,9,1,35,4,31,4,31,4,...,3,31,3,31,3.0,32.0,3.0,32.0,2.0,13.0
4,2018,1,12,0,0,0,0,2,31,3,...,2,32,2,32,2.0,31.0,2.0,31.0,2.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2021,11,9,3,32,3,14,3,32,2,...,2,31,3,18,2.0,32.0,2.0,31.0,NaN,NaN
372,2021,11,12,4,31,2,13,2,31,2,...,2,18,2,14,2.0,31.0,1.0,32.0,NaN,NaN
373,2021,11,15,2,14,0,0,2,14,0,...,3,14,2,13,2.0,32.0,2.0,14.0,NaN,NaN
374,2021,11,18,3,14,0,0,2,13,0,...,2,14,2,13,2.0,31.0,4.0,18.0,NaN,NaN
375,2021,11,21,2,13,0,0,3,14,0,...,2,13,3,14,3.0,14.0,2.0,14.0,NaN,NaN

In [10]:
year = list(range(2018,2022))
month = list(range(1,13))
time = list(range(0,24,3))
day = list(range(1,32))
col = list(range(4,65,2))

In [12]:
new_DF_list = []
for y in year:
  for m in month:
    if ((y==2021.0) & (m==4.0)):
      break
    for d in day:
      for t in time:
        index = df.index[(df['Year'] == y) & (df['Month'] == m) & (df['Time']== t)].tolist()[0]
        
        if(pd.isnull(df.iloc[index, col[d-1]])):
          break
        else:
          value = df.iloc[index,col[d-1]]
          data = [int(y), int(m), int(d), int(t),value]
          new_DF_list.append(data)
        
new_DF_list[:20]

[[2018, 1, 1, 0, 31],
 [2018, 1, 1, 3, 0],
 [2018, 1, 1, 6, 0],
 [2018, 1, 1, 9, 35],
 [2018, 1, 1, 12, 0],
 [2018, 1, 1, 15, 0],
 [2018, 1, 1, 18, 31],
 [2018, 1, 1, 21, 32],
 [2018, 1, 2, 0, 31],
 [2018, 1, 2, 3, 0],
 [2018, 1, 2, 6, 23],
 [2018, 1, 2, 9, 31],
 [2018, 1, 2, 12, 0],
 [2018, 1, 2, 15, 31],
 [2018, 1, 2, 18, 0],
 [2018, 1, 2, 21, 0],
 [2018, 1, 3, 0, 0],
 [2018, 1, 3, 3, 31],
 [2018, 1, 3, 6, 32],
 [2018, 1, 3, 9, 31]]

In [13]:
new_df = pd.DataFrame(new_DF_list, columns =['Year', 'Month', 'Day', 'Time', 'Direction'])
new_df

      Year  Month  Day  Time  Direction
0     2018      1    1     0       31.0
1     2018      1    1     3        0.0
2     2018      1    1     6        0.0
3     2018      1    1     9       35.0
4     2018      1    1    12        0.0
...    ...    ...  ...   ...        ...
9483  2021      3   31     9       13.0
9484  2021      3   31    12       14.0
9485  2021      3   31    15       12.0
9486  2021      3   31    18       13.0
9487  2021      3   31    21       11.0

[9488 rows x 5 columns]